@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap");
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}
body {
	background: #2f2f2f;
	gap: 10px;
}