<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel='stylesheet' href='{{ url_for('static', filename='css/index.css') }}'/>
		<link rel='stylesheet' href='{{ url_for('static', filename='css/main.css') }}'/>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<title>Object Recognizer</title>
		{% endblock head %}
	</head>
	<body>
		{% if message %}
			<div id='alert-message'>
				<p>{{ message }}</p>
				<i class="fas fa-times" onclick='document.getElementById("alert-message").style.display = "none"'></i>
			</div>
		{% endif %}
		<header class="navigation">
			<div class="logo-wraapper">
				<h1>Object Recognizer</h1>
			</div>
		</header>
		<div class="body-container">{% block body %}{% endblock %}</div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>