{% extends 'base.jinja' %}
{% block body %}
<main class="window-container">
	<form class="screen" action='/' method='POST' enctype="multipart/form-data">
		<input
			name='image'
			type="file"
			id="image_input"
			accept="image/*"
			required
		/>
		<button id="detect_button">Detect</button>
	</form>
	{% if detected_image %}
		<div class="content">
			<div class='content-message'>
				<p>Scanning of image completed</p>
				<h3>Detected {{ 3 }} object(s) in the image</h3>
			</div>
			<div class="content-image">
				<img src='{{ url_for('static', filename='images/' + detected_image) }}'/>
			</div>
			<ul class='content-list'>
				{% for object in objects %}
					<li class='content-list-item'>
						<p>{{ object['name'] }} ({{ object['count'] }})</p>
						<span>{{ (object['confidence'] * 100) | round }}%</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</main>
{% endblock %}